:root { 
    --primary-color: rgb(13, 13, 109); 
    --secondary-color: darkblue;
    --text-color: black; 
    --background-color: yellow;
} 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

.section-title {
    font-size: 60px; 
    padding: 15px;
    margin: 15px 0;
}  

.maintitle {
    color: var(--primary-color);
    border-right: 10px solid var(--text-color);
    width: 50%; 
    display: flex; 
    justify-content: left;
} 

.section-org {
    display: flex;
    flex-wrap: wrap;
    background: var(--background-color); 
    padding: 30px 0; 
    justify-content: left;
}

/* Begin Header */ 
header {
    display: flex; 
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: var(--text-color);
} 

header nav {
    margin: 10px 0;
    width: 100%;
} 

header nav ul {
    padding: 5px 15px; 
    font-weight: lighter;
    font-size: 25px;
} 

header a {
    text-decoration: none;
    color: var(--background-color);
} 
/* End Header */ 

/* Begin Hero Section */ 
.hero-section {
    background-image: url("../Images/IMG_0784.jpeg"); 
    background-size: cover;
    background-position: top;
    display: flex;
    flex-wrap: wrap;
    width: 100%; 
    padding: 200px;
} 

.hero-section h1 {
    font-size: 50px;
    color: var(--background-color);
    position: relative;
    right: 175px;
    top: 10px;
    text-shadow: 0 0 5px var(--text-color);
} 
/* End Hero Section */

/* Start Section Organisation for all */
.section-org {
    flex: 12;
}

.section-org p {
    color: var(--secondary-color);
    font-size: 18px;
} 

.section-org h3 {
    font-size: 26px;
    line-height: 2.0;
    color: var(white)
} 
/* End Section organisation for all */

/* start My Work Section */
.projects {
    background: var(white)
} 

.project-grid {
    display: flex;
    width: 50%;
    justify-content: center;
} 

/* Start Grid layout */
.project-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
    width: 35vw;
    height: 30vw;
    margin: 15px auto;
} 

.collection {
    background-color: white;
    border: solid;
    color: black;
} 

.box1 {
    grid-column: 1/ span 4;
    grid-row: 1/ span 3;
    border-radius: 10px; 
    border: 3px solid var(--secondary-color);
    display: flex;
    align-items: flex-end;
    background-image: url(../Images/run\ buddy\ example.jpeg); 
    background-position: center;
    background-size: cover;
} 

.box1 a {
    text-decoration: none;
    padding-left: 100px; 
    font-size: 25px;
    color: var(--text-color);
    background-color: var(--background-color); 
    border-radius: 5px;
} 

.box2 {
    grid-column: 1/ span 4;
    grid-row: 1/ span 3;
    border-radius: 10px; 
    border: 3px solid var(--secondary-color);
    display: flex;
    align-items: flex-end;
    background-image: url(../Images/run\ buddy\ example.jpeg); 
    background-position: center;
    background-size: cover
} 

.box3 {
    grid-column: 1/ span 4;
    grid-row: 1/ span 3;
    border-radius: 10px; 
    border: 3px solid var(--secondary-color);
    display: flex;
    align-items: flex-end;
    background-image: url(../Images/run\ buddy\ example.jpeg); 
    background-position: center;
    background-size: cover
} 
/* End my work section */ 

/* Start Footer */
footer {
    display: flex;
    flex-wrap: wrap;
    background-color: violet;
    color: yellowgreen;
} 

.contact-container {
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    justify-content: left;
    font-size: 18px;
    width: 75%;
} 
.contact-container a {
    border-bottom: 2px solid var(--text-color);
    border-radius: 5px;
    margin: 0 30px;
} 
footer a {
    text-decoration: none;
    color: var(--secondary-color);
    padding: 20px;
} 
/* End Footer */